<!-- Instagram Card -->
{% if page.instagram-card != false %} 
<h2>Siga</h2>
{% if site.instagram %}
<a target="_blank" href="https://instagram.com/{{site.instagram}}" class="button-twitter" data-show-count="false" data-size="large"><i class="fab fa-instagram"></i></a>
{% if site.linkedin %}
<a target="_blank" href="https://www.linkedin.com/company/{{site.linkedin}}" class="button-twitter" data-show-count="false" data-size="large"><i class="fab fa-linkedin"></i></a>
{% endif %}
{% endif %}   
{% endif %}
<!-- End Instagram Card -->	
