<!-- Instagram Card -->
{% if page.instagram-card != false %} 
{% if site.instagram %}
<span class="btn">Siga: </span>
<li><a target="_blank" href="https://instagram.com/{{site.instagram}}" class="button-instagram" data-show-count="false" data-size="large"><i class="fab fa-instagram"></i></a><li><a href="https://gelinc.github.io/"></a></li>
{% if site.linkedin %}
<li><a target="_blank" href="https://www.linkedin.com/company/{{site.linkedin}}" class="button-linkedin" data-show-count="false" data-size="large"><i class="fab fa-linkedin"></i></a><li><a href="https://gelinc.github.io/"></a></li>
{% endif %}
{% endif %}   
{% endif %}
<!-- End Instagram Card -->	
