<!-- Instagram Card -->
{% if page.instagram-card != false %} 
<ul><span>Siga</span>
{% if site.instagram %}
<li><a target="_blank" href="https://instagram.com/{{site.instagram}}" class="button-twitter" data-show-count="false" data-size="large"><i class="fab fa-instagram"></i></a><li><a href="https://gelinc.github.io/">Home</a></li>
{% if site.linkedin %}
<li><a target="_blank" href="https://www.linkedin.com/company/{{site.linkedin}}" class="button-twitter" data-show-count="false" data-size="large"><i class="fab fa-linkedin"></i></a><li><a href="https://gelinc.github.io/">Home</a></li></ul>
{% endif %}
{% endif %}   
{% endif %}
<!-- End Instagram Card -->	
